{%- if secure is not none -%}
    {%- for secure_section, secure_section_options in secure.items() -%}
[{{ secure_section  }}]
        {%- if secure_section_options is not none -%}
        {%- for secure_section_option, secure_section_value in secure_section_options.items() %}
        {{ secure_section_option }} = {{ secure_section_value }}
        {%- endfor %}
        {%- endif %}
    {%- endfor %}
{%- endif %}
